{{ 'customer.css' | asset_url | stylesheet_tag }}
<script> 
  if (localStorage.getItem('redirectToQuote')) {
      window.location.href = 'pages/quote-order';
  } 
</script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="customer account page-width block__account-row section-{{ section.id }}-padding">
  {% render "account-tab" %}
  <div class="block__account-info">

    <div class="block__account-content">
      <div class="block__account-content-order">
        <h2 class="block__account-content-title h4">{{ 'customer.orders.title' | t }}</h2>

        {% paginate customer.orders by 20 %}
          {%- if customer.orders.size > 0 -%}

            <div class="block__order-acc-container">        
              {%- for order in customer.orders -%}
              <div class="block__order-acc">
                <div class="block__order-acc-head">
                  <div class="block__order-acc-head-top">
                    <p class="block__order-number">Order No.:  <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">{{ order.name }}</a></p>
                    <div class="block__order-download">
                      <a target="_blank" href="https://6a353a-3.myshopify.com/apps/pdf-vify/pdf-preview/invoice?shop_domain={{ shop.permanent_domain }}&order_id={{ order.id }}&locale=en">{% render 'download_arrow' %}Download Order</a>
                      {% render 'down_arrow' %}
                    </div>
                  </div>
                  <div class="block__order-acc-head-bottom">
                    <p class="block__order-date">Date : <span>{{ order.created_at | time_tag: format: 'date' }}</span></p>
                    <p class="block__order-item-count">Total Items : <span>{{ order.item_count }}</span></p>
                    <p class="block__order-item-pay-method">Payment Method: <span>{{ order.gateway }}</span></p>
                  </div>
                </div>
                <div class="block__order-acc-content">
                  <div class="block__order-acc-content-block">
                    <div class="block__order-list">
                      {%- for line_item in order.line_items -%}
                        <div class="block__order-item">
                          <div class="block__order-img">
                            <img src="{{ line_item.product.images.first |  img_url: 'master' }}" alt="">
                          </div>
                          <div class="block__order-item-info">
                            {%- if line_item.url != blank -%}
                              <a class="block__order-item-info-title" href="{{ line_item.url }}">{{ line_item.title }}</a>
                            {%- else -%}
                              <p class="block__order-item-info-title">{{ line_item.title }}</p>
                            {%- endif -%}
                            <p class="block__order-item-price"> {%- if line_item.original_price != line_item.final_price or line_item.unit_price_measurement -%}
                              <dl>
                                {%- if line_item.original_price != line_item.final_price -%}
                                  <dt>
                                    <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                                  </dt>
                                  <dd class="regular-price">
                                    <s>{{ line_item.original_price | money }}</s>
                                  </dd>
                                  <dt>
                                    <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                                  </dt>
                                  <dd>
                                    <span>{{ line_item.final_price | money }}</span>
                                  </dd>
                                {%- else -%}
                                  <dt>
                                    <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                                  </dt>
                                  <dd>
                                    {{ line_item.original_price | money }}
                                  </dd>
                                {%- endif -%}
                                {%- if line_item.unit_price_measurement -%}
                                  <dt>
                                    <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                  </dt>
                                  <dd class="unit-price">
                                    <span>
                                      {%- capture unit_price_separator -%}
                                        <span aria-hidden="true">/</span
                                        ><span class="visually-hidden">{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                      {%- endcapture -%}
                                      {%- capture unit_price_base_unit -%}
                                        {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                                          {{- line_item.unit_price_measurement.reference_value -}}
                                        {%- endif -%}
                                        {{ line_item.unit_price_measurement.reference_unit }}
                                      {%- endcapture -%}
                                      <span data-unit-price>{{ line_item.unit_price | money }}</span>
                                      {{- unit_price_separator -}}
                                      {{- unit_price_base_unit -}}
                                    </span>
                                  </dd>
                                {%- endif -%}
                              </dl>
                            {%- else -%}
                              <span>{{ line_item.final_price | money }}</span>
                            {%- endif -%}
                            </p>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                    <div class="block__order-list-footer">
                      <div class="block__order-list-total"> 
                        <p class="block__order-list-subtotal"><span class="text">Subtotal</span> <span class="block__order-price">{{ order.line_items_subtotal_price | money }}</span></p>
                        <p class="block__order-list-shipping"><span class="text">Shipping</span><span class="block__order-price">{{ order.shipping_price | money }}</span></p>
                        <p class="block__order-list-total"><span class="text">Total</span><span class="block__order-price">{{ order.total_net_amount | money }}</span></p>
                      </div>
                      <div class="block__order-list-info">
                        <p>Address : <a href="{{ routes.account_addresses_url }}">View Details</a></p>
                        <p>Fulfillment Status : <span>{{ order.fulfillment_status_label }}</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

          {%- else -%}
            <p>{{ 'customer.orders.none' | t }}</p>
          {%- endif -%}

          {%- if paginate.pages > 1 -%}
            {%- if paginate.parts.size > 0 -%}
              <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                <ul role="list">
                  {%- if paginate.previous -%}
                    <li>
                      <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                        </svg>
                      </a>
                    </li>
                  {%- endif -%}

                  {%- for part in paginate.parts -%}
                    <li>
                      {%- if part.is_link -%}
                        <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                          {{- part.title -}}
                        </a>
                      {%- else -%}
                        {%- if part.title == paginate.current_page -%}
                          <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                            {{- part.title -}}
                          </span>
                        {%- else -%}
                          <span>{{ part.title }}</span>
                        {%- endif -%}
                      {%- endif -%}
                    </li>
                  {%- endfor -%}

                  {%- if paginate.next -%}
                    <li>
                      <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                        </svg>
                      </a>
                    </li>
                  {%- endif -%}
                </ul>
              </nav>
            {%- endif -%}
          {%- endif -%}
        {% endpaginate %} 


      </div>

      {%  comment  %}  
      <div class="block__account-content-address">
        <h2 class="block__account-content-title h4">{{ 'customer.account.details' | t }}</h2>
        
        {{ customer.default_address | format_address }}
        
        <a href="{{ routes.account_addresses_url }}">
          {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
          </a>
        </div>
      {% endcomment %}

    </div>

  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
